<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Listings</title>
    <style>
        /* Add your custom CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }
        .job {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
        }
        .job h2 {
            margin-top: 0;
        }
        .job p {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>Job Listings</h1>
    {% for job in data %}
    <div class="job">
        <h2>{{ job["Job Title"][0] }}</h2>
        <p><strong>Company Name:</strong> {{ job["Company Name"][0][0] }}</p>
        <p><strong>Job Type:</strong> {{ job["Job Type"][0] }}</p>
        <p><strong>Salary:</strong> {{ job["Salary"][0] }}</p>
        <p><strong>Job Location:</strong> {{ job["Job Location"][0] }}</p>
        <p><strong>Qualifications:</strong> {{ job["Qualifications"][0] }}</p>
        <p><strong>Job Description:</strong> {{ job["Job Description"][0] }}</p>
        <p><strong>Important Bigrams:</strong> 
        </p>
        <p><strong>Job URL:</strong> <a href="{{ job["Job URL"][0] }}" target="_blank">{{ job["Job URL"][0] }}</a></p>
    </div>
    {% endfor %}
</body>
</html>
